createdAt: "2019-02-22T05:42:50.405Z"
updatedAt: "2019-02-22T05:42:50.405Z"
type: "MARKDOWN_NOTE"
folder: "b807297f316925a0e4a7"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
