createdAt: "2018-08-02T16:51:28.787Z"
updatedAt: "2018-08-02T16:52:02.018Z"
type: "MARKDOWN_NOTE"
folder: "82a568dbde2f931f3b1f"
title: "Google Dorks"
content: '''
  # Google Dorks
  
  ### Find Passwords in Trello Boards
  ```
  inurl:https://trello.com AND intext:@gmail.com AND intext:password
  ```
  
'''
tags: []
isStarred: false
isTrashed: false
