createdAt: "2018-06-19T19:29:07.187Z"
updatedAt: "2018-06-24T22:18:01.603Z"
type: "SNIPPET_NOTE"
folder: "bccde01890c021d732c8"
title: "Return the difference between 2 arrays"
description: "Return the difference between 2 arrays"
snippets: [
  {
    name: "list_diff.py"
    mode: "Python"
    content: '''
      a = ["Peter", "Lois", "Stewey", "Quagmire", "Brian", "Chris", "Meg"]
      b = ["Lois", "Brian", "Meg"]
      
      return [x for x in set(a).difference(b)]
      
      """
      returns
      ["Peter", "Stewey", "Quagmire", "Chris"]
      """
    '''
  }
]
tags: [
  "array"
  "list"
  "diff"
  "example"
]
isStarred: false
isTrashed: false
