createdAt: "2018-06-19T19:44:13.217Z"
updatedAt: "2018-06-19T19:44:36.741Z"
type: "SNIPPET_NOTE"
folder: "dc87178bcf7ff750b30f"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
  {
    name: ""
    mode: "Plain Text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
