createdAt: "2019-02-22T18:01:26.816Z"
updatedAt: "2019-02-22T18:01:26.816Z"
type: "MARKDOWN_NOTE"
folder: "b575d372f71ac12888ba"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
