createdAt: "2018-06-18T20:06:05.527Z"
updatedAt: "2018-06-19T17:37:17.383Z"
type: "MARKDOWN_NOTE"
folder: "dc87178bcf7ff750b30f"
title: "Cookiecutter Django Setup (local)"
content: '''
  # Cookiecutter Django Setup (local)
  
  ```bash
  pip install "cookiecutter>=1.4.0" -U
  mkvirtualenv -p /usr/bin/python3 <project>
  cookiecutter https://github.com/pydanny/cookiecutter-django
  <answer questions>
  createdb <project>
  export DATABASE_URL=postgres://user:password@127.0.0.1:5432/<database>
   
  python manage.py migrate
  ```
'''
tags: []
isStarred: false
isTrashed: false
