createdAt: "2018-06-19T19:23:34.235Z"
updatedAt: "2018-06-19T19:23:39.939Z"
type: "SNIPPET_NOTE"
folder: "bccde01890c021d732c8"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
