createdAt: "2019-02-06T02:17:46.658Z"
updatedAt: "2019-02-08T03:39:59.303Z"
type: "MARKDOWN_NOTE"
folder: "82a568dbde2f931f3b1f"
title: "Rebuilding the Data Horde"
tags: []
content: '''
  # Rebuilding the Data Horde
  
  ## Music
  - Slint - Spiderland (1991)
  - At the Drive-In - Relationship of Command (2000)
  - Cage - Hell's Winter (2001)
  - Cannibal Ox - The Cold Vein (2001)
  - DJ Shadow - Endtroducing... (1996)
  - Electric Wizard - Come My Fanatics... (1997)
  - El-P - Fantastic Damage (2002)
  - Massive Attack - Mezzanine (1998)
  - My Bloody Valentine - Loveless (1991)
  - Neutral Milk Hotel - In the Aeroplane Over the Sea (1998)
  - Nosaj Thing - Fated (2015)
  - Radiohead - OK Computer (1997)
  - World's End Girlfriend - Hurtbreak Wonderland (2007)
  - Aphex Twin - Richard D. James Album (1996)
  - Modest Mouse - The Lonesome Crowded West (1997)
  - Modest Mouse - The Moon & Antarctica (2000)
  - Neutral Milk Hotel - On Avery Island (1996)
  - Portishead - Dummy (1994)
  - copeland - Because I'm Worth It (2014)
  - The Magnetic Fields - 69 Love Songs (1999)
  - My Bloody Valentine - Isn't Anything (1988)
  - Nas - It Was Written (1996)
  - Radiohead - The Bends (1995)
  - Refused - The Shape of Punk to Come: A Chimerical Bombination in 12 Bursts (1998)
  - Sigur Rós - Ágætis byrjun (1999)
  - Venetian Snares - Rossz csillag alatt született (2005)
  - Radiohead - Kid A (2000)
  - Shitmat - Killababylonkutz (2004)
  - Sufjan Stevens - Illinois (2005)
  - 13 & God - 13 & God (2005)
  - Abelcain - The Garden (2005)
  - Actress - R.I.P (2012)
  - Actress - Ghettoville (2014)
  - Aereogramme - Sleep and Release (2003)
  - Aereogramme - Seclusion (2004)
  - Animal Collective - Merriweather Post Pavilion (2009)
  - The Antlers - Hospice (2009)
  - Arca - Xen (2014)
  - Arcade Fire - Funeral (2004)
  - Bedhead - WhatFunLifeWas (1994)
  - Björk - Homogenic (1997)
  - Boards of Canada - Music Has the Right to Children (1998)
  - The Body - I Shall Die Here (2014)
  - Clark - Clark (2014)
  - Dirty Three - Ocean Songs (1998)
  - Ein Heit - The Lightning and the Sun (1997)
  - Explosions in the Sky - The Earth Is Not a Cold Dead Place (2003)
  - Fake Limbs - The Power of Patrician Upbringing (2013)
  - The Flaming Lips - The Soft Bulletin (1999)
  - The Flaming Lips - Yoshimi Battles the Pink Robots (2002)
  - Ganger - Canopy (1999)
  - Gang of Four - Entertainment! (1979)
  - Godspeed You Black Emperor! - F♯A♯∞ (1997)
  - Godspeed You Black Emperor! - Lift Yr. Skinny Fists Like Antennas to Heaven! (2000)
  - Holy Other - Held (2012)
  - Liars - They Threw Us All in a Trench and Stuck a Monument on Top (2001)
  - Low - Things We Lost in the Fire (2001)
  - The Mars Volta - De-Loused in the Comatorium (2003)
  - A Minor Forest - Flemish Altruism (Constituent Parts 1993-1996) (1996)
  - A Minor Forest - Inindependence (1998)
  - A Minor Forest - ...So Were They in Some Sort of Fight? (1999)
  - Modest Mouse - This Is a Long Drive for Someone With Nothing to Think About (1996)
  - Mogwai - Mogwai Young Team (1997)
  - Odesza - Summer's Gone (2012)
  - Odesza - My Friends Never Die (2013)
  - Of Death - Generation of Vipers (2002)
  - Of Death - Build a Bridge and Get Over It (2003)
  - Panda Bear - Person Pitch (2007)
  - Passion Pit - Gossamer (2012)
  - Pavement - Slanted and Enchanted (1992)
  - A Perfect Circle - Mer de noms (2000)
  - Pharmakon - Bestial Burden (2014)
  - Radiohead - Pablo Honey (1993)
  - Radiohead - I Might Be Wrong: Live Recordings (2001)
  - Red Sparowes - At the Soundless Dawn (2005)
  - Run the Jewels - Run the Jewels (2013)
  - A Silver Mt. Zion - He Has Left Us Alone but Shafts of Light Sometimes Grace the Corner of Our Rooms... (2000)
  - Regina Spektor - Begin to Hope (2006)
  - Vince Staples - Hell Can Wait (2014)
  - submerse - Slow Waves (2014)
  - The White Stripes - White Blood Cells (2001)
  - Wilco - Yankee Hotel Foxtrot (2002)
  - Sun Volt - Trace (1995)
  - Death Grips - The Money Store (2012)
  - Earl Sweatshirt - Doris (2013)
  - Petite Noir - The King of Anxiety (2015)
  - Danny Brown - Atrocity Exhibition (2016)
  - JPEGMAFIA - Black Ben Carson (2016)
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
