createdAt: "2018-06-19T19:36:13.876Z"
updatedAt: "2018-06-24T21:34:49.987Z"
type: "SNIPPET_NOTE"
folder: "43fabea9a8b7259d668c"
title: "Docker Machine installation"
description: "Docker Machine installation"
snippets: [
  {
    name: "docker-machine-install.sh"
    mode: "Shell"
    content: '''
      base=https://github.com/docker/machine/releases/download/v0.14.0 &&
        curl -L $base/docker-machine-$(uname -s)-$(uname -m) >/tmp/docker-machine &&
        sudo install /tmp/docker-machine /usr/local/bin/docker-machine
    '''
  }
]
tags: [
  "docker"
  "docker-machine"
  "linux"
  "install"
]
isStarred: false
isTrashed: false
