createdAt: "2018-08-16T18:52:06.902Z"
updatedAt: "2019-02-22T03:45:56.274Z"
type: "MARKDOWN_NOTE"
folder: "82a568dbde2f931f3b1f"
title: "Development server setup"
content: '''
  # Development server setup 
  
  *I guess this is some kind of development bootstrap script I started... iono*
  
  #Update Sources: 
  sudo apt-get update
  
  #Removed Packages: 
  sudo apt-get purge vim
  sudo apt-get remove vim
  
  #Installed Packages:
  sudo apt-get install -y \\
  vim-nox python3-dev \\
  ruby ruby-dev \\
  tmux virtualenv \\
  virtualenvwrapper python3-pip \\
  build-essential make \\
  
  libffi-dev libssl- \\
  libjpeg-dev docker.io \\
  libpq-dev postgresql \\
  
  #Install docker-compose
  sudo curl -L https://github.com/docker/compose/releases/download/1.19.0/docker-compose-`uname -s`-`uname -m` -o /usr/local/bin/docker-compose
  sudo chmod +x /usr/local/bin/docker-compose
  sudo groupadd docker
  sudo gpasswd -a $USER docker
  
  #Install Vundle
  git clone https://github.com/gmarik/Vundle.vim.git ~/.vim/bundle/Vundle.vim
  
  #Install Vim Plugins
  vim +PluginInstall +qall
  
  #Setup Command-T
  cd ~/.vim/bundle/command-t/ruby/command-t/ext/command-t
  ruby extconf.rb
  make
  
  #Compile YCM
  cd ~/.vim/bundle/YouCompleteMe
  YCM_CORES=1 ./install.py --clang-completer
'''
tags: []
isStarred: false
isTrashed: false
