createdAt: "2018-06-19T19:34:50.474Z"
updatedAt: "2018-06-24T21:35:34.313Z"
type: "MARKDOWN_NOTE"
folder: "43fabea9a8b7259d668c"
title: "Installing and configuration of Arch"
content: '''
  # Installing and configuration of Arch
  
  ```
  # download ISO from https://archlinux.org/download/, mount and boot
  $ loadkeys pt-latin1
  # boot uses dhcpcd and wireed, test
  $ ping -c 3 www.google.com 
   
  # erase partition table
  $ sgdisk --zap-all /dev/sda
  # using cgdisk to create GPT (root, home, swap) partitions; alternative to fdisk (which creates MBR partitions)
  $ cgdisk /dev/sda
     1        6.0 GiB    Linux filesystem
     2        1024MB GiB  Linux filesystem
     3        1024MB GiB  Linux filesystem
  # create filesystems
  $ mkfs.ext4 /dev/sda1 ; mkfs.ext4 /dev/sda2
  $ mkswap /dev/sda3 ; swapon /dev/sda3
  # mount the partitions
  $ lsblk -f
  $ mount /dev/sda1 /mnt
  $ mkdir /mnt/home ; mount /dev/sda2 /mnt/home
   
  # optionally select a mirror
  $ nano /etc/pacman.d/mirrorlist
  # install the base system
  $ pacstrap -i /mnt base base-devel
  # generate an fstab
  $ genfstab -U -p /mnt >> /mnt/etc/fstab
  $ nano /mnt/etc/fstab
   
  # chroot and configure the base system
  $ arch-chroot /mnt /bin/bash
  # locale, uncomment 'en_US.UTF-8 UTF-8'
  $ nano /etc/locale.gen
  $ locale-gen
  $ echo LANG=en_US.UTF-8 > /etc/locale.conf
  $ export LANG=en_US.UTF-8
  # console font and keymap
  # nano /etc/vconsole.conf
  KEYMAP=pt-latin1
  FONT=lat9w-16
  # time zone
  $ ln -s /usr/share/zoneinfo/Europe/Lisbon /etc/localtime
  # hardware clock
  $ hwclock --systohc --utc
  # kernel modules '/etc/modules-load.d/*.conf', no need to set since all are loaded automatically by udev
  # hostname
  $ echo archlinux > /etc/hostname
   
  # configure the network; wired using dhcpd (see 'ip link')
  $ systemctl enable dhcpcd@ens32.service
   
  # generate kernel config
  $ nano /etc/mkinitcpio.conf
  $ mkinitcpio -p linux
   
  # set the root password
  $ passwd
   
  # install and configure a bootloader, using grub
  $ pacman -S grub
  $(ether BIOS) grub-install --target=i386-pc --recheck --force /dev/sda
  $(or UEFI) grub-install --target=x86_64-efi --efi-directory=$esp --bootloader-id=arch_grub --recheck
  $ grub-mkconfig -o /boot/grub/grub.cfg
   
  # add users, see https://wiki.archlinux.org/index.php/users_and_groups
  $ useradd -m -G wheel -s /bin/bash 
  $ passwd 
  $ nano /etc/sudoers
  %sudo ALL=(ALL) ALL
   
  # add openssh, see https://wiki.archlinux.org/index.php/Secure_Shell
  $ pacman -S openssh
  $ systemctl start sshd.service
  $ systemctl enable sshd.service
   
  # change shell prompt, see https://wiki.archlinux.org/index.php/Color_Bash_Prompt
  $ cat ~/.bashrc
  PS1='\\[\\e[1;32m\\][\\u@\\h \\W]\\$\\[\\e[0m\\] '
   
  # unmount the partitions and reboot
  $ exit ; reboot
  ```
'''
tags: [
  "install"
  "linux"
  "arch"
  "config"
]
isStarred: false
isTrashed: false
